.storybook
*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
es
coverage
yarn.lock
package-lock.json

# dumi
.umi
.umi-production
.umi-test
.docs


# dumi
.dumi/tmp
.dumi/tmp-production
.node
_site/
server/

# Docs templates
components/version/token-meta.json
components/version/token.json
components/version/version.ts
components/version/version.tsx
.dumi/preset/components-changelog*
.dumi/preset/misc-changelog.json
report.html
dist/
